/* Resetando margens e preenchimento padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo e fundo */
body {
    font-family: 'Arial', sans-serif;
    background-color: #121212; /* Fundo escuro */
    color: #ddd; /* Texto claro */
    line-height: 1.6;
    font-size: 16px;
}

/* Estilo do cabeçalho */
header {
    background-color: #1e1e1e; /* Fundo escuro para o cabeçalho */
    color: #fff;
    padding: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Sombra para dar destaque */
}

header .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 28px;
    text-transform: uppercase; /* Título em maiúsculas */
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease-in-out; /* Efeito de transição */
}

nav ul li a:hover {
    color: #000546; /* Cor rosa no hover */
    text-decoration: underline; /* Sublinhado no hover */
}

/* Estilo das seções */
.section {
    padding: 60px 0;
    text-align: center;
    transition: background-color 0.3s ease; /* Efeito suave de transição */
}

.section:nth-child(even) {
    background-color: #1f1f1f; /* Alterna o fundo das seções */
}

.section h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #d8cdfd; /* Título em rosa */
    text-transform: uppercase;
    letter-spacing: 1px;
}

.section p {
    font-size: 18px;
    max-width: 800px;
    margin: 20px auto;
}

/* Estilo da imagem na seção futuro */
.imagem-futuro {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
    margin: 20px 0;
    transition: transform 0.3s ease; /* Efeito de transição na imagem */
}

.imagem-futuro:hover {
    transform: scale(1.05); /* Aumenta a imagem ao passar o mouse */
}

/* Estilo do rodapé */
footer {
    background-color: #1e1e1e;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.3); /* Sombra para o rodapé */
}

/* Responsividade */
@media (max-width: 768px) {
    header .container {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    .section {
        padding: 40px 0;
    }

    .imagem-futuro {
        width: 90%;
    }
}